<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    
</head>

<body>
    <footer th:fragment="footer"><!--FOOTER-->
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2025 &copy; Tuerca Dorada</p>
            </div>
            <div class="float-end">
                <p>Creado con <span class='text-danger'><i data-feather="heart"></i></span> por <a
                        href="https://github.com/Esteban-cv">Esteban Colorado Vargas</a></p>
            </div>
        </div>
    </footer>
</body>

</html>