<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>

<body>
    <nav class="navbar navbar-header navbar-expand navbar-light" th:fragment="header"><!--HEADER-->
        <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
        <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                <li class="nav-item d-flex align-items-center me-3">
                    <select class="form-select" id="moduleSearch" style="width: 300px;">
                        <option></option> <option th:value="@{/dashboard}">Estadísticas</option>
                        <option th:value="@{/sales}">Ventas</option>
                        <option th:value="@{/purchases}">Compras</option>
                        <option th:value="@{/articles}">Artículos</option>
                        <option th:value="@{/categories}">Categorías</option>
                        <option th:value="@{/locations}">Ubicaciones</option>
                        <option th:value="@{/entries}">Entradas</option>
                        <option th:value="@{/issues}">Salidas</option>
                        <option th:value="@{/clients}">Clientes</option>
                        <option th:value="@{/suppliers}">Proveedores</option>
                        <option th:value="@{/employees}">Empleados</option>
                    </select>
                </li>

                <li class="dropdown nav-icon">
                    <a href="#" data-bs-toggle="dropdown" class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                        <div class="d-lg-inline-block">
                            <i data-feather="bell"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-large">
                        <h6 class='py-2 px-4'>Notifications</h6>
                        <ul class="list-group rounded-none">
                            <li class="list-group-item border-0 align-items-start">
                                <div class="avatar bg-success me-3">
                                    <span class="avatar-content"><i data-feather="shopping-cart"></i></span>
                                </div>
                                <div>
                                    <h6 class='text-bold'>Nueva Orden</h6>
                                    <p class='text-xs'>
                                        Una orden para Coquito SOFT, por computadores gamers
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                        <div class="avatar me-1">
                            <img th:src="@{/img/avatar/avatar-s-1.png}" alt="" srcset="">
                        </div>
                        <div class="d-none d-md-block d-lg-inline-block">Hola, Saugi</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item active" href="#"><i data-feather="user"></i> Cuenta</a>
                        <a class="dropdown-item" href="#"><i data-feather="mail"></i> Mensajes</a>
                        <a class="dropdown-item" href="#"><i data-feather="settings"></i> Ajustes</a>
                        <div class="dropdown-divider"></div>
                        <form th:action="@{/logout}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                            <button class="dropdown-item" type="submit" style="background: none; border: none; padding: 0;">
                                <i data-feather="log-out"></i> Cerrar Sesión
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>