<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
</head>

<body>
    <div id="sidebar" class='active' th:fragment="sidebar"><!--sidebar-->
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <img th:src="@{/img/logo-rezisable.png}" alt="" srcset="" style=" height: 70px; width: 200px;">
            </div>
            <div class="sidebar-menu">
                <ul class="menu">


                    <li class='sidebar-title'>Menu Principal</li>



                    <li class="sidebar-item">

                        <a th:href="@{/dashboard}" class='sidebar-link'>
                            <i data-feather="home" width="20"></i>
                            <span>Estadísticas</span>
                        </a>


                    </li>



                    <li class="sidebar-item  has-sub">

                        <a href="#" class='sidebar-link'>
                            <i data-feather="shopping-cart" width="20"></i>
                            <span>Ventas</span>
                        </a>


                        <ul class="submenu ">

                            <li>
                                <a th:href="@{/sales}">Consultar</a>
                            </li>

                            <li>
                                <a th:href="@{/sales/form}">Nueva Venta</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">

                        <a href="#" class='sidebar-link'>
                            <i data-feather="clipboard" width="20"></i>
                            <span>Compras</span>
                        </a>


                        <ul class="submenu ">

                            <li>
                                <a th:href="@{/purchases}">Consultar</a>
                            </li>

                            <li>
                                <a th:href="@{/purchases/form}">Nueva Compra</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">

                        <a href="#" class='sidebar-link'>
                            <i data-feather="box" width="20"></i>
                            <span>Artículos</span>
                        </a>


                        <ul class="submenu ">

                            <li>
                                <a th:href="@{/articles}">Consultar</a>
                            </li>

                            <li>
                                <a th:href="@{/articles/form}">Nuevo Artículo</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">

                        <a href="#" class='sidebar-link'>
                            <i data-feather="tag" width="20"></i>
                            <span>Categorías</span>
                        </a>


                        <ul class="submenu ">

                            <li>
                                <a th:href="@{/categories}">Consultar</a>
                            </li>

                            <li>
                                <a th:href="@{/categories/form}">Nueva Categoría</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">

                        <a href="#" class='sidebar-link'>
                            <i data-feather="map-pin" width="20"></i>
                            <span>Ubicaciones</span>
                        </a>


                        <ul class="submenu ">

                            <li>
                                <a th:href="@{/locations}">Consultar</a>
                            </li>

                            <li>
                                <a th:href="@{/locations/form}">Nueva Ubicación</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">

                        <a href="#" class='sidebar-link'>
                            <i data-feather="log-in" width="20"></i>
                            <span>Entradas</span>
                        </a>


                        <ul class="submenu ">

                            <li>
                                <a th:href="@{/entries}">Consultar</a>
                            </li>

                            <li>
                                <a th:href="@{/entries/form}">Nueva Entrada</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">

                        <a href="#" class='sidebar-link'>
                            <i data-feather="log-out" width="20"></i>
                            <span>Salidas</span>
                        </a>


                        <ul class="submenu ">

                            <li>
                                <a th:href="@{/issues}">Consultar</a>
                            </li>

                            <li>
                                <a th:href="@{/issues/form}">Nueva Ubicación</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">

                        <a href="#" class='sidebar-link'>
                            <i data-feather="user" width="20"></i>
                            <span>Clientes</span>
                        </a>


                        <ul class="submenu ">

                            <li>
                                <a th:href="@{/clients}">Consultar</a>
                            </li>

                            <li>
                                <a th:href="@{/clients/form}">Nuevo Cliente</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">

                        <a href="#" class='sidebar-link'>
                            <i data-feather="users" width="20"></i>
                            <span>Empleados</span>
                        </a>


                        <ul class="submenu ">

                            <li>
                                <a th:href="@{/employees}">Consultar</a>
                            </li>

                            <li>
                                <a th:href="@{/employees/form}">Nuevo Cliente</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item  has-sub">

                        <a href="#" class='sidebar-link'>
                            <i data-feather="truck" width="20"></i>
                            <span>Proveedores</span>
                        </a>


                        <ul class="submenu ">

                            <li>
                                <a th:href="@{/suppliers}">Consultar</a>
                            </li>

                            <li>
                                <a th:href="@{/suppliers/form}">Nuevo Cliente</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
</body>

</html>